<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.tuan.mapper.AdminMapper">
    <select id="count" resultType="int">
        select count(*) c from admin
    </select>
    <select id="doLogin" resultType="com.tuan.entity.Admin">
        select * from admin where account=#{account} and password=MD5(#{password}) and status=#{status}
    </select>
    <insert id="save"  useGeneratedKeys="true" keyProperty="id" keyColumn="GENERATED_KEY">
      INSERT INTO admin(name,account,password,adminType,status,createDatetime,updateDatetime) VALUES(#{name},#{account},#{password},#{adminType},#{status},now(),now())
    </insert>
    <select id="getEntityById" parameterType="String" resultType="com.tuan.entity.Admin">
      SELECT * FROM admin WHERE id=#{id}
    </select>
    <delete id="delete" parameterType="String">
      DELETE FROM admin WHERE id IN
      <foreach collection="list" item="row"  open="(" separator="," close=")">  
        #{row}
      </foreach>  
    </delete>
    <update id="update" parameterType="com.tuan.entity.Admin">
      UPDATE admin SET name=#{name},account=#{account},password=#{password},adminType=#{adminType},status=#{status},updateDatetime=now(),lastLoginDatetime=#{lastLoginDatetime} WHERE id=#{id}
    </update>
</mapper>