<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.tuan.mapper.ProductTypeMapper">
    <select id="count" resultType="int">
        select count(*) c from product_type where 1=1
        <if test="startDate != null and startDate != ''">and updateDatetime>=str_to_date(#{startDate},'%Y-%m-%d')</if>
        <if test="endDate != null and endDate != ''">and updateDatetime&lt;DATE_ADD(str_to_date(#{endDate},'%Y-%m-%d'),INTERVAL 1 day)</if>
    </select>
    <insert id="save"  useGeneratedKeys="true" keyProperty="id" keyColumn="GENERATED_KEY">
      INSERT INTO product_type(name,fatherId,fatherPath,orderPath,sort,status,createDatetime,updateDatetime) 
      VALUES(#{name},#{fatherId},#{fatherPath},#{orderPath},#{sort},#{status},now(),now())
    </insert>
    <select id="getEntity" parameterType="com.tuan.entity.ProductType" resultType="com.tuan.entity.ProductType">
      SELECT * FROM product_type WHERE 1=1
      <if test="startDate != null and startDate != ''">and updateDatetime>=str_to_date(#{startDate},'%Y-%m-%d')</if>
      <if test="endDate != null and endDate != ''">and updateDatetime&lt;DATE_ADD(str_to_date(#{endDate},'%Y-%m-%d'),INTERVAL 1 day)</if>
      order by orderPath
      <if test="pageNum != null">LIMIT ${(pageNum-1)*numPerPage},${numPerPage}</if>
    </select>
    <select id="getEntityById" parameterType="String" resultType="com.tuan.entity.ProductType">
      SELECT * FROM product_type WHERE id=#{id}
    </select>
    <delete id="delete" parameterType="String">
      DELETE FROM product_type WHERE id IN
      <foreach collection="list" item="row"  open="(" separator="," close=")">  
        #{row}
      </foreach>  
    </delete>
    <update id="update" parameterType="com.tuan.entity.ProductType">
      UPDATE product_type SET name=#{name},fatherId=#{fatherId},fatherPath=#{fatherPath},orderPath=#{orderPath},sort=#{sort},status=#{status},updateDatetime=now() WHERE id=#{id}
    </update>
</mapper>