<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		  <property name="jndiName">
			<value>java:comp/env/jdbc/tuan</value>
		</property>
    </bean>
    
    <!-- 配置sessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>
	
    <!--dao层 -->
    <bean id="adminDao" class="com.tuan.dao.impl.AdminDaoImpl"></bean>
    <!-- service层 -->
    <bean id="adminManager" class="com.tuan.manager.impl.AdminManagerImpl"></bean>
</beans>