<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="com/tuan/mapper/AdminMapper.xml"/>
        <mapper resource="com/tuan/mapper/ProductTypeMapper.xml"/>
        <mapper resource="com/tuan/mapper/ProductBrandMapper.xml"/>
        <mapper resource="com/tuan/mapper/TradeChannelMapper.xml"/>
    </mappers>
</configuration>